# Checks if the rewrite mod is on.
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force everything through the index.php file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>